<!DOCTYPE html>
<html>
<head>
  <title>AwWDI</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Alegreya+SC:900italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://widget.cloudinary.com/global/all.js"></script>
    <% if current_user %>
    <script type="text/javascript">
      window.CURRENT_USER_ID = <%=current_user.id%>
      window.CURRENT_USERNAME = '<%=current_user.username%>'
    </script>
    <%end%>
</head>
<body>
  <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>

<%= yield %>

</body>
</html>
